/* Contenedor principal */
.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

/* Encabezado del chat */
.chat-header {
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ccc;
}

.chat-header .back-button {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.chat-header .back-button span {
    margin-right: 5px;
}

/* Contenedor de mensajes */
.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
}

.chat-message {
    max-width: 70%;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

.user-message {
    align-self: flex-end;
    background-color: #000;
    color: #fff;
}

.other-message {
    align-self: flex-start;
    background-color: #e5e5e5;
    color: #333;
}

/* Contenedor del input */
.chat-input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
}

.chat-input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.send-button {
    background: none;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    color: #000;
}
.back-buttonCHAT {
    align-self: flex-start;
    background: none;
    border: none;
    cursor: pointer;
  }
.return-iconCHAT{
    width: 50px;
    height: 90px;
    object-fit: contain;
}

.back-buttonCHAT {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    background: none;
    border: none;
    cursor: pointer;
}
.back-buttonCHAT span {
    font-size: 1.5rem; 
    margin-left: 0; 
    transform: none; 
    color: #333; 
    white-space: nowrap; 
}