@import url(../styles/variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bellota-Bold';
}   
html, body {
    overflow-y: auto; /* Allow scrolling */
    -webkit-overflow-scrolling: touch;
}

.confirmacion-compra-container {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icono-compra img {
    width: 320px;
    color: #333;
}

h1 {
    font-family: 'Bellota-Bold';
    font-size: 24px;
    color: #333;
    margin-top: 10px;
}

.decoracion {
    margin: 10px 0;
    color: #999;
    font-size: 24px;
    letter-spacing: 3px;
}

p {
    color: #555;
    font-size: 16px;
    margin: 15px 0;
    font-family: 'Bellota-Bold';
}

.boton-compras {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    text-decoration: none;
}

.boton-compras:hover {
    background-color: #cad80a;
}

input[type="email"] {
    display: block;
    width: 80%;
    padding: 10px;
    margin: 15px auto;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    font-family: 'Bellota-Bold';
    position: relative;
    z-index: 10; 
}

.boton-inicio {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Bellota-Bold';
}

.boton-inicio:hover {
    background-color: #444;
}
