/* Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    color: #333;
  }
  
  .home-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .home-container p {
    font-size: 1.2rem;
  }
  