@import url(../styles/variables.css);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.registro-container {
  background-color: #ccc;
  background-image: url('../storage/img/Group130.png'); 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #000;
  filter: grayscale(100%);
}

.form-container {
  background-color: #06060600;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}
.form-container h2{
  font-size: 1.5rem;
}

.auth-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button i {
  font-size: 1.8rem;
}

.auth-button.facebook {
  background-color: #ffff;
  color: #101010;
}

.auth-button.discord {
  background-color: #ffff;
  color: #101010;
}

.auth-button.gmail {
  background-color: #ffff;
  color: #101010;
}

.auth-button.email {
  background-color: #ffff;
  color: #101010;
}

.auth-button.phone {
  background-color: #ffff;
  color: #101010;
}

.auth-button:hover {
  opacity: 0.9;
}

.login-link {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #000;
}

.login-link span {
  font-weight: bold;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
